{% extends 'base.html.twig' %}

{% block title %}Hello GallerieController!{% endblock %}

{% block body %}

        <section class="container-fluid container_galerie row"> 

            <p class="fs-1 fontdancing text-center"> Bienvenue dans la galerie photo du remue !</p>
        </section>

{% endblock %}
