{% extends 'base.html.twig' %}

{% block title %}On remue Sainté!{% endblock %}

{% block body %}

<main class="row container-fluid main_commissions">

    <h1 class="fontdancing commissions_titre fs-1 col-5"> Les commissions du Remue </h1>
    <p class=" commissions_p col-10 fs-5"> Bonjour et Bienvenue dans la page dédiée aux commissions du Remue. <br>
      C'est ici que se jour l'administration du café, c'est un peu la salle des machines... <br>
      Dans la mesure ou l'on traite ici de la mecanique interne du remue, cette partie du site est plus confidentielle,
      et les accées ont sont restreints aux seuls ayants droits... <br> Qu'on ne te prenne pas a regarder discretement par un trou de serrure,
      ou de profiter d'un bug de l'appli pour accéder a des infos classées secret d'Etat ! ;-D <br>
      <br>
      Si jamais tu souhaite t'investir dans une comissions, contacte nous vite !
    </p>

    <div class="col-10">
      <button class="btn btn-dark col-10 btn_com"> Bar</button>
      <button class="btn btn-dark col-10 btn_com"> Programmation</button>
      <button class="btn btn-dark col-10 btn_com"> Communication</button>
      <button class="btn btn-dark col-10 btn_com"> Comptabilité</button>
      <button class="btn btn-dark col-10 btn_com btn_end"> Stock</button>
    </div>




  </main>
{% endblock %}
