{% extends 'base.html.twig' %}

{% block title %}On remue Sainté!{% endblock %}

{% block body %}

<main>

  <h1 class="text-center sf-1 fontdancing mt-3"> Gagarpitan </h1>

  <div class="container-fluid row">

  <div class="container-fluid col-10 ">

  <p class="sf-4 p_dimanche de mots mt-3">Rencontre autour de deux langues régionales : l’Arpitan ou le francoprovençal (1er et 3ème mercredis du mois) et l’Occitan (2ème et 4ème mercredis du mois).

    Ces temps permettent d’exercer ces langues, d’en connaître la culture, le patrimoine, et les événements qui y sont rattachés.
    
    <br>
    <br>
    
    Rendez-vous bimensuel proposé par l’association Lo Mic.
  </p>

 

  <div class="card col-12 align-self-center">
    <img src={{ absolute_url(asset('assets/img/flamant.jpg'))}} class="card-img" alt="...">
    <div class="card-img-overlay">
    </div>
     
    </div>
  </div>


  
  <div class="container-fluid col-10 d-flex flex-row border border-dark rounded mt-5 mb-5"> 
    <div class="col-5 d-flex flex-column div_btn_dimanche">
      <button class="btn btn-dark align-self-center mt-5">
        Contacter l'admin pour infos
      </button>
      <button class="btn btn-dark align-self-center mt-2 mb-4">
        S'abonner aux infos de l'atelier
      </button>

      <p class="mt-2 mb-2 align-self-center">Réservé admin :</p>
      <button class="btn btn-dark align-self-center mt-2">
        Envoyer un mail aux abonnés
      </button>
      <button class="btn btn-dark align-self-center mt-2 mb-4">
        Ajouter un point info
      </button>
    </div>

    <div class=" col-6">
      <h2 class="fontdancing text-center mt-5">Point Infos de l'atelier</h2>

     
    </div>
  </div>


  <h2 class="fontdancing text-center mt-5">Galerie Photos de l'atelier :</h2>
  <div class="container-fluid col-10 d-flex flex-row flex-wrap justify-content-around border border-dark rounded mt-5 mb-5"> 
  
    
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card m-2" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    
  </div>






  </main>
{% endblock %}
