{% extends 'base.html.twig' %}

{% block title %}Hello OnremueController!{% endblock %}

{% block body %}
<section class="container-fluid container_onremue row mt-5"> 

    

    <h1 class="fs-1 fontdancing text-center mt-3 "> Appels à Bénévoles !</h1>


    <h1 class="fs-1 fontdancing text-center mt-5"> Propositions de projets, d'atelier</h1>


    <div class="col-10 mt-3">
    <p class="fs-5  "> Un projet à proposer ? Une idée d'atelier ? Un savoir à partager ? Une conférence à organiser ?
        
    Bref , si vous avez besoin de nous, ou de nos motivations agrégées à la votre , n'hesitez jamais!
     Envoyez un mail et un formulaire , et nous reprendrond contact avec vous au plus vite ! <br> A bientot ! </p>
  
     <button class="btn btn-dark  mb-3"> Vos propositions, vos projets associatifs !  </button>
    </div>
     
    
</section>
{% endblock %}
